<script setup lang="ts">
import { useRegisterStore } from '../model/registerStore';
import { toRefs } from 'vue';

const { v$, isSubmitting, register } = toRefs(useRegisterStore());
</script>

<template>
  <q-card class="tw-w-[500px]">
    <q-form autofocus @submit="register">
      <q-card-section>
        <div class="text-h5">Регистрация</div>
      </q-card-section>

      <q-card-section>
        <q-input
          v-model="v$.username.$model"
          :error="v$.username.$error"
          :error-message="v$.username.$errors?.[0]?.$message"
          :disable="isSubmitting"
          label="Username"
          outlined
          class="tw-mb-4"
        />

        <q-input
          v-model="v$.email.$model"
          :error="v$.email.$error"
          :error-message="v$.email.$errors?.[0]?.$message"
          :disable="isSubmitting"
          label="Email"
          outlined
          class="tw-mb-4"
        />

        <q-input
          v-model="v$.password.$model"
          :error="v$.password.$error"
          :error-message="v$.password.$errors?.[0]?.$message"
          :disable="isSubmitting"
          label="Пароль"
          outlined
        />
      </q-card-section>

      <q-card-actions>
        <q-btn
          :loading="isSubmitting"
          type="submit"
          color="primary"
          class="tw-ml-auto"
          unelevated
        >
          Зарегистрироваться
        </q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</template>
