<script setup lang="ts">
import { LoginForm } from '@/features/login';
</script>

<template>
  <q-page padding class="tw-flex tw-flex-col tw-items-center tw-justify-center">
    <login-form />
  </q-page>
</template>
