<script setup lang="ts">
import { RouterView } from 'vue-router'
import { ref, onBeforeMount } from 'vue'
import {usersApi} from "@/shared/api";

const leftDrawerOpen = ref(false)

const toggleLeftDrawer = () => leftDrawerOpen.value = !leftDrawerOpen.value

const isLoading = ref(false);

const fetchMe = async () => {
  isLoading.value = true;

  const me = await usersApi.fetchMe();

  isLoading.value = false;

  console.log(me)
}

onBeforeMount(() => {
  fetchMe()
})
</script>

<template>
  <q-layout view="hHh lpR fFf">

    <q-header class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-toolbar-title>

        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <!-- drawer content -->
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<style scoped></style>
