<script setup lang="ts">
import { RegisterForm } from '@/features/register';
</script>

<template>
  <q-page padding class="tw-flex tw-flex-col tw-items-center tw-justify-center">
    <register-form />
  </q-page>
</template>
