<script setup lang="ts">
import { computed, ref, toRefs } from 'vue';

import { useLoginStore } from '../model/loginStore';

const { login, v$, isSubmitting } = toRefs(useLoginStore());

const isPasswordVisible = ref(false);
</script>

<template>
  <q-card class="tw-w-[500px]">
    <q-form autofocus @submit="login">
      <q-card-section>
        <div class="text-h5">Логин</div>
      </q-card-section>

      <q-card-section>
        <q-input
          v-model="v$.identifier.$model"
          :disable="isSubmitting"
          :error="v$.identifier.$error"
          :error-message="v$.identifier.$errors?.[0]?.$message"
          label="Email или username"
          class="tw-mb-4"
          outlined
        />

        <q-input
          v-model="v$.password.$model"
          :disable="isSubmitting"
          :error="v$.identifier.$error"
          :error-message="v$.password.$errors?.[0]?.$message"
          :type="isPasswordVisible ? 'text' : 'password'"
          label="Пароль"
          outlined
        >
          <template #append>
            <q-icon
              :name="isPasswordVisible ? 'visibility' : 'visibility_off'"
              class="cursor-pointer"
              @click="isPasswordVisible = !isPasswordVisible"
            />
          </template>
        </q-input>
      </q-card-section>

      <q-card-actions>
        <q-btn
          :loading="isSubmitting"
          type="submit"
          color="primary"
          class="tw-ml-auto"
          unelevated
        >
          Войти
        </q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</template>
